{% set TENNIS_EVENTS_EXAMPLES = """
- starting of a match with players walking toward the net and doing a racket spin or a coin toss
- warm up with baseline rallies
- warm up with volleys and over head shots
- warm up with serve
- a point including serve, rallies and conclusion of the point
""" %}

{% set EXAMPLE_EVENTS = {
    'tennis match': TENNIS_EVENTS_EXAMPLES,
} %}